body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-65px;
  width:1255px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:103px;
  background:inherit;
  background-color:rgba(165, 147, 224, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:50px;
  width:285px;
  height:103px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:103px;
  background:inherit;
  background-color:rgba(86, 98, 112, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:50px;
  width:285px;
  height:103px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#000000;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:50px;
  width:285px;
  height:103px;
  display:flex;
  font-size:30px;
  color:#000000;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:103px;
  background:inherit;
  background-color:rgba(224, 227, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#000000;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:50px;
  width:285px;
  height:103px;
  display:flex;
  font-size:30px;
  color:#000000;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:103px;
  background:inherit;
  background-color:rgba(134, 133, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:190px;
  width:285px;
  height:103px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:103px;
  background:inherit;
  background-color:rgba(86, 98, 112, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:190px;
  width:285px;
  height:103px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:345px;
  width:96px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:342px;
  width:96px;
  height:36px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
